<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="../bootstrap.min.css" rel="stylesheet">

    <title>Title</title>
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" type="text/javascript"></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
</head>
<body>


<div id="app">

    <ul>
        <li v-for="i in count">{{i}}</li>
    </ul>

    <ul>
        <li v-for="(i, index) in cats">{{i}} : {{ index }}</li>
    </ul>

    <ul>
        <li v-for="(i, index) of cats">{{i}} : {{ index }}</li>
    </ul>
</div>

<!-- Optional JavaScript -->
<script>
    console.log();
    var vm = new Vue({
        el: '#app',
        data: {
            message: "Hi, now you see me!",
            show: false,
            count: 3,
            cats: ['L', 'P', 'Y']
        },
        methods: {}
    })
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>